body {
    margin: 50px auto;
    font-family: sans-serif;
    text-align: center;
    background-image: url('../images/backgroundWebpage.png');
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    color:gainsboro;
    width: 600px;
    height: 200px;
    /*border: 1px solid gray; */
}

#profilePhoto {
    height: 150px;
    width: 150px;
    border-radius: 8px;
    display:block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2%;
}

p {
    margin: 1em 1em 0 0;
    font-size: 16px;
    text-decoration-color: darkorchid;
    color:blanchedalmond;
    /* text-indent: 20px */
    /* padding-top: 2%; */
    text-align: center;
}

h1 {
    font-size: 22px;
    color: blanchedalmond;
}
.col-sm-8 {

    background-color: gray;
}

.col-sm-4 {
    background-color: darkgrey;
}
p .foo {
    color:purple;
}
#a, #b, #c {
    text-align: justify;
    color: blanchedalmond;
}

#idea {
    font-size: 14px;
    color:blanchedalmond;
    margin: 1em 1em 0 0;
    text-align: justify;
    text-decoration-color: darkorchid
}

#docs {
    color: purple;
}

#about {
    padding-top: 34px;
    text-align: center;
}

#welcome{
    font-size:20px;
}

.container-fluid{
    margin: auto;

}